<h4 class="bg-blue text-white py-2 heading">Edit Role</h4>
<hr>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="projectForm" >


      <div class="form-group pt-3">
        <label for="projectName">Project Name:</label>
        <input type="text" id="projectName" formControlName="projectName" required/>
      </div>


    <div class="form-group pt-3">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" formControlName="startDate" required [min]="getCurrentDate()"/>
    </div>


    <div class="form-group pt-3">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" formControlName="endDate" required [min]="getCurrentDate()"/>
    </div>


    <div class="form-group pt-3">
        <label for="clientId">Client:</label>
        <select id="clientId" formControlName="clientId" required>
          <option value="" disabled>Select Client</option>
          <option *ngFor="let client of clients" [value]="client.clientId">
            {{ client.account}}
          </option>
        </select>
    </div>
   
    <div class="form-group pt-3">
        <label for="projectStatusId">Resource Type:</label>
        <select id="projectStatusId" formControlName="projectStatusId" required>
          <option value="" disabled>Select Resource Type</option>
          <option *ngFor="let projectstatus of projectstatuses" [value]="projectstatus.projectStatusId">
            {{ projectstatus.projectStatusName }}
          </option>
        </select>
    </div>
   
    <div class="form-group pt-3">
        <button type="button" class="btn btn-lg btn-primary" (click)="project && openEditModal(project)">Edit Project</button>
        <button type="button" class="btn btn-lg btn-secondary" (click)="cancel()">Cancel</button>
    </div>
 
</form>
</div>
</div>
</div>


<app-edit-confirmation-modal
  [itemName]="itemToEdit"
  [displayModal]="displayModal"
  (confirmEditEvent)="editConfirmed()"
></app-edit-confirmation-modal>

